In [1]:
# Read in dataset
import pandas as pd
apps_with_duplicates = pd.read_csv('datasets/apps.csv')

# Drop duplicates
apps = apps_with_duplicates.drop_duplicates()

# Print the total number of apps
print('Total number of rows in the duplicate dataset = ', len(apps_with_duplicates))
print('Total number of apps in the dataset = ', len(apps))

# Print a concise summary of apps dataframe
print(apps.info())

# Have a look at a random sample of n rows
n = 5
apps.sample(n)

Total number of rows in the duplicate dataset =  9659
Total number of apps in the dataset =  9659
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9659 entries, 0 to 9658
Data columns (total 14 columns):
Unnamed: 0        9659 non-null int64
App               9659 non-null object
Category          9659 non-null object
Rating            8196 non-null float64
Reviews           9659 non-null int64
Size              8432 non-null float64
Installs          9659 non-null object
Type              9659 non-null object
Price             9659 non-null object
Content Rating    9659 non-null object
Genres            9659 non-null object
Last Updated      9659 non-null object
Current Ver       9651 non-null object
Android Ver       9657 non-null object
dtypes: float64(2), int64(2), object(10)
memory usage: 1.1+ MB
None

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1920,2442,EVA - Menstrual calendar and fertility,MEDICAL,NaN,25,16.0,"1,000+",Free,0,Everyone,Medical,"August 2, 2018",1.1,4.1 and up
7001,8066,CX Capture,BUSINESS,NaN,1,5.8,100+,Free,0,Everyone,Business,"January 23, 2018",v1.2.2,4.0.3 and up
4055,5002,AE Coin Mania : Arcade Fun,GAME,4.3,30002,29.0,"1,000,000+",Free,0,Teen,Casino,"February 8, 2018",2.3.5,4.0.3 and up
174,174,English translation from Bengali,BOOKS_AND_REFERENCE,4.5,527,2.9,"100,000+",Free,0,Everyone,Books & Reference,"March 31, 2018",14,4.0 and up
28,28,Pencil Sketch Drawing,ART_AND_DESIGN,3.9,136,4.6,"10,000+",Free,0,Everyone,Art & Design,"July 12, 2018",6,2.3 and up

In [2]:
# List of characters to remove
chars_to_remove = ['+', ",", "$"]
# List of column names to clean
cols_to_clean = ['Installs', 'Price']

# Loop for each column
for col in cols_to_clean:
    # Replace each character with an empty string
    for char in chars_to_remove:
        apps[col] = apps[col].astype(str).str.replace(char, '')
    # Convert col to numeric
    apps[col] = pd.to_numeric(apps[col])